**/data
**/**/data
**/model
**/**/model
**/glove_vectors
**/**/glove_vectors
**/*.csv
**/**/*.csv
**/tmp
**/**/tmp
**/*.zip
**/**/*.zip
*.txt
*.whl
**/data
**/**/data
**/model
**/**/model
**/glove_vectors
**/**/glove_vectors
**/*.csv
**/**/*.csv
**/*.zip
**/**/*.zip
**/*.rar
**/**/*.rar
**/*.db
**/**/*.db
**/distance
**/**/distance
**/*.tar.*
**/**/*.tar.*
**/*.tz.*
**/**/*.tz.*
**/*.ipynb_checkpoints
**/**/*.ipynb_checkpoints
**/*.txt
**/**/*.txt
**/tmp
**/**/tmp
**/*.whl
**/**/*.whl
*.txt
*.pkl
